<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>报警信息</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item> <ion-label>报警类型</ion-label> </ion-item>
          <ion-item *ngFor="let t of types">
            <ion-checkbox slot="start" [(ngModel)]="t.isChecked"></ion-checkbox>
            <ion-label>{{ t.label }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item> <ion-label>报警概述</ion-label> </ion-item>
          <ion-item>
            <ion-label>报告人</ion-label>
            <ion-input  class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>报警日期</ion-label>
            <ion-datetime
              display-format="YYYY-MM-DD"
              picker-format="YYYY MM DD"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>报警时间</ion-label>
            <ion-datetime
              display-format="HH:mm"
              picker-format="HH:mm"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>当时温度</ion-label>
            <ion-input  class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>状态</ion-label>
            <ion-input  class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>响应人</ion-label>
            <ion-input  class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>响应时长</ion-label>
            <ion-input  class="text-right" readonly></ion-input>
            <ion-buttons slot="end">
                <ion-button (click)="alarmResponse()">
                  <!-- <ion-icon slot="icon-only" name="add"></ion-icon> -->
                 详情
                </ion-button>
              </ion-buttons>
          </ion-item>
          <ion-item>
            <ion-label>样本转移</ion-label>
            <ion-input class="text-right"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label>相关设备</ion-label>
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item>
            <ion-textarea
              rows="8"
              placeholder="Enter more information here..."
            ></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item> <ion-label>备注</ion-label> </ion-item>
          <ion-item>
            <ion-textarea
              rows="8"
              placeholder="这里是备注，可以随便写点什么。字符控制在255个汉字以内……"
            ></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
          <ion-card>
              <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
              <ion-item>
                <img src="assets/images/aaaa.png">
              </ion-item>
          </ion-card>
      </ion-col>
      <ion-col size="4">
          <ion-card>
              <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
              <ion-item>
                <img src="/assets/images/aaaa.png">
              </ion-item>
          </ion-card>
      </ion-col>
      <ion-col size="4">
          <ion-card>
              <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
              <ion-item>
                <img src="/assets/images/aaaa.png">
              </ion-item>
          </ion-card>
      </ion-col>
      <ion-col size="4">
          <ion-card>
              <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
              <ion-item>
                <img src="/assets/images/aaaa.png">
              </ion-item>
          </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>
</ion-content>
