<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="start" menuId="custom" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Custom Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<!-- <ion-content> -->
  <!-- <ngx-gauge [type]="gaugeType" 
           [value]="gaugeValue" 
           [append]="gaugeAppendText">
</ngx-gauge> -->

<!-- <jqxBarGauge 
    [width]="600" [height]="600" [max]="150" 
    [colorScheme]="'scheme02'" [values]="values">
</jqxBarGauge> -->

<!-- <ko-stage #stage1 [config]="configStage1"> 
    <ko-layer #layer>
        <ko-star *ngFor="let item of list"
        [config]="item">
        </ko-star>
    </ko-layer>
    <ko-layer #dragLayer></ko-layer>
</ko-stage>  -->

<!-- <h2 greet>Hello, Angular</h2> -->

<!-- <button ion-fab (click)="takePicture()"></button> -->

