
<ion-tabs class="bb-tabs">

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="contact">
      <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>设备报告</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about1" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>设备巡检</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>设备监控</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about2" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>事件清单</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about2" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>维护记录</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="contact" href="/tabs/(contact:contact)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>







