<ion-header >
  <ion-toolbar class="bb-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>报警信息</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="save"></ion-icon> -->
        <ion-icon name="brush"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="bb-card">
          <ion-item> <ion-label>报警原因</ion-label> </ion-item>
          <!-- <ion-item *ngFor="let r of reason">
                <ion-checkbox slot="start" [(ngModel)]="r.isChecked"></ion-checkbox>
                <ion-label>{{ r.label }}</ion-label>
              </ion-item> -->
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>信号传输受阻 & 信号干扰</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>监控设备故障</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>冻存设备故障</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>人员 & 物体误入库区</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>委托方进行样本操作</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="opacity6">委托方</ion-label>
            <ion-input class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>人员错误操作</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="opacity6">误操作</ion-label>
            <ion-input class="text-right"></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>其他原因</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea
              rows="15"
              placeholder="其他原因，最多255个字符..."
            ></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="bb-card">
          <ion-item> <ion-label>响应措施</ion-label> </ion-item>
          <!-- <ion-item *ngFor="let m of measures">
                  <ion-checkbox slot="start" [(ngModel)]="m.isChecked"></ion-checkbox>
                  <ion-label>{{ m.label }}</ion-label>
                </ion-item> -->
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>未处理，30分钟内自愈 & 报警解除</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>停止样本操作，设备恢复正常</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="opacity6">停止时间</ion-label>
            <ion-datetime
              display-format="YYYY-MM-DD HH:mm"
              picker-format="YYYY MM DD HH mm"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>现场响应，设备恢复正常</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="opacity6">处置时间</ion-label>
            <ion-datetime
              display-format="YYYY-MM-DD HH:mm"
              picker-format="YYYY MM DD HH mm"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-checkbox color="success" mode="md"></ion-checkbox>
            <ion-label>其他措施</ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea
              rows="6"
              placeholder="其他措施，最多255个字符..."
            ></ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card class="bb-card">
          <ion-item> <ion-label>响应结果</ion-label> </ion-item>
          <ion-item>
            <ion-label class="opacity6">处置时间</ion-label>
            <ion-datetime
              display-format="YYYY-MM-DD HH:mm"
              picker-format="YYYY MM DD HH mm"
            ></ion-datetime>
          </ion-item>
          <ion-item> <ion-label>后续的影响</ion-label> </ion-item>
          <ion-item>
            <ion-textarea
              rows="6"
              placeholder="最多255个字符，如果没有影响请留空..." style="height:168px;"
            ></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="bb-card mt-0">
          <ion-item> <ion-label>样本转移记录</ion-label> </ion-item>
          <ion-row>
              <ion-col>
                  <ion-item> 
                    <ion-label class="opacity6">开始时间</ion-label>
                    <ion-datetime
                  display-format="YYYY-MM-DD HH:mm"
                  picker-format="YYYY MM DD HH mm"
                ></ion-datetime>
                   </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item> 
                      <ion-label class="opacity6">完成时间</ion-label>
                      <ion-datetime
                    display-format="YYYY-MM-DD HH:mm"
                    picker-format="YYYY MM DD HH mm"
                  ></ion-datetime>
                     </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-item> 
                    <ion-label class="opacity6">原位置</ion-label>
                    <ion-input  class="text-right"></ion-input>
                   </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item> 
                      <ion-label class="opacity6">新位置</ion-label>
                      <ion-input  class="text-right"></ion-input>
                     </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-item> 
                    <ion-label class="opacity6">转出样本量</ion-label>
                    <ion-input  class="text-right"></ion-input>
                   </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item> 
                      <ion-label class="opacity6">转入样本量</ion-label>
                      <ion-input  class="text-right"></ion-input>
                     </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-item> 
                    <ion-label class="opacity6">转前温度</ion-label>
                    <ion-input  class="text-right"></ion-input>
                   </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item> 
                      <ion-label class="opacity6">转后30min温度</ion-label>
                      <ion-input  class="text-right"></ion-input>
                     </ion-item>
              </ion-col>
          </ion-row>
          
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="bb-card mt-0">
          <ion-item> <ion-label>备注</ion-label> </ion-item>
          <ion-item>
            <ion-textarea
              rows="8"
              placeholder="这里是备注，可以随便写点什么。字符控制在255个汉字以内……"
            ></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
          <ion-item> <img src="assets/images/aaaa.png" /> </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
          <ion-item> <img src="/assets/images/aaaa.png" /> </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
          <ion-item> <img src="/assets/images/aaaa.png" /> </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-item> <ion-label>现场图片01</ion-label> </ion-item>
          <ion-item> <img src="/assets/images/aaaa.png" /> </ion-item>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
