
.content-page{
    color: #B7B7B7;
}
h4{
    margin: 0;
    padding: 0;
}
.line-bottom{
    border-bottom: 1px solid #ccc;
}
.pos-r{
    position: relative;
}
.pos-a{
    position:a;
}
.fs60{
    font-size: 60px;
}
.m-0{
    margin: 0;
}
.ml-0{
    margin-left: 0;
}
.mr-0{
    margin-right: 0;
}
.ml-20{
    margin-left: 20px;
}
.mt-20{
    margin-top:20px;
}
.mt-30{
    margin-top:30px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.color2{
    color:#66BF92
}
.color3{
    color:#FF4A39
}
.color1{
    color:#EEA927
}
.boxShadow{
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}
.floor-show{
    position: absolute;
    bottom:220px;
    background-color: #1F282F;
    left: 20px;
    width: 64px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;
    opacity: 0.9;
}
.floor-show li{ 
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 18px 0;
}
.floor-show li:last-child{ 
    border:none;
}
.floor-show ul{ 
    margin: 0;
    padding: 0;
}
.info-show{
    position:absolute;
    bottom:40px;
    left:50%; 
    transform: translate(-50%, 0); 
    width: 70%;
    height:240px;
    background-color: #404B51;border-radius: 4px;
    opacity: 0.99;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    transition: all .2s ease;
}
.pos-btn{
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
    transition: all .5s ease;
    padding-top: 2px;
}
.roate180{
    transform:rotate(-180deg);
    padding-top: 0
}
.modal-layer{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right:0;
}
.equipmentLayer{
    position: absolute;
    top: 93px;
    height: 820px;
    margin: 0 auto;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #1F282F;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(255,255,255,.5);
}
.equipmentLayer .equipment-chart{
    background-color: #404B51;
    opacity: .7;
    
}
