<ion-header>
  <ion-toolbar>
    <ion-title>Home2222222</ion-title>
  </ion-toolbar>
</ion-header>
<!-- *ngFor="let item of list;let i = index" -->
<ion-content padding>
  
  <div id="container"></div>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="handleClick()">F1</ion-fab-button>
      <ion-fab-button>F2</ion-fab-button>
      <ion-fab-button>F3</ion-fab-button>
      <ion-fab-button>F4</ion-fab-button>
    </ion-fab-list>

    
  </ion-fab>
  

  

      
  
  
  
  
  
  
  
  
  
  
  
  
  1211112122121
  {{configImage}}
  
  </ion-content>
