<ion-header>
  <ion-toolbar>
    <ion-title>样本库 - {{selectedFloor}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- *ngFor="let item of list;let i = index" -->
<ion-content>
  
  <div id="container" style="background-color:#2A373F;" zooming="true" min-zoom="1" max-zoom="2" overflow-scroll="false"></div>
  <!-- <ion-button id="basic" expand="block" (click)="presentAlert()">Alert</ion-button> -->

  <!-- fab placed to the bottom start -->
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button onclick="handleClick()">F1</ion-fab-button>
      <ion-fab-button>F2</ion-fab-button>
      <ion-fab-button>F3</ion-fab-button>
      <ion-fab-button>F4</ion-fab-button>
    </ion-fab-list> 
  </ion-fab> -->
  <ion-virtual-scroll  direction="xy" class="msg-file" style="height:100%" zooming="true" min-zoom="1" max-zoom="2" overflow-scroll="false">
      <img ng-src="/assets/images/aaaa.png" class="msg-file"/>
    </ion-virtual-scroll>
  </ion-content>
  <div class="content-page">
      <div class="floor-show">
          <ul>
            
            <li (click)="selectFloor(item.name)" [ngClass]="{'color2': item.name === selectedFloor}" *ngFor="let item of floors">
              <h4 class="text-center">{{item.name}}</h4>
            </li>
          </ul>
        </div>
        <div class="info-show">
         <h4 class="color2 ml-20 mt-20">Summary</h4>
         <div class="row mt-45">
            <div class="col text-center">
                <h4>设备总量</h4>
                <h4 class="color1">50</h4>
              </div>
              <div class="col text-center">
                  <h4>空间使用率</h4>
                  <h4 class="color2">60%</h4>
              </div>
              <div class="col text-center">
                  <h4>日报警次数</h4>
                  <h4 class="color3">12</h4>
              </div>
         </div>
        </div>
  </div>
  
  <!-- <div class="row">
      <div class="col-md-2">
          aaaaaa
        </div>
        <div class="col-md-8">
          bbbbbbb
        </div>
        <div class="col-md-2">
          ccccc
        </div>
  </div> -->
  